@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Schoolbell';
}

body{
    color: white;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.bts{
    margin-top: 30px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}